@font-face {
  font-family: 'Bourbon';
  font-display: auto;
  src: url('~@font/BourbonGrotesque.otf');
}

.font-bourbon {
  font-family: 'Bourbon', 'Mitr' !important;
}

.font-mitr {
  font-family: 'Mitr', sans-serif !important;
}

@font-face {
  font-family: 'Superspace';
  font-display: auto;
  src: url('~@font/Superspace-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Superspace';
  font-display: auto;
  src: url('~@font/Superspace-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Superspace';
  font-display: auto;
  src: url('~@font/Superspace-Bold.ttf');
  font-weight: 400;
}

// @font-face {
//   font-family: 'Mitr';
//   font-display: auto;
//   src: url('~@font/Mitr-Light.ttf');
//   font-weight: 200;
// }
// @font-face {
//   font-family: 'Mitr';
//   font-display: auto;
//   src: url('~@font/Mitr-Regular.ttf');
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Mitr';
//   font-display: auto;
//   src: url('~@font/Mitr-Medium.ttf');
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Mitr';
//   font-display: auto;
//   src: url('~@font/Mitr-SemiBold.ttf');
//   font-weight: 500;
// }
// @font-face {
//   font-family: 'Mitr';
//   font-display: auto;
//   src: url('~@font/Mitr-Bold.ttf');
//   font-weight: 600;
// }
