@import 'layouts/main';
@import 'text/main';
@import 'color/main';
@import 'landing/main';
@import 'store/main';
@import 'product/main';
@import 'loading/main';
@import 'bug/main';
@import 'floatbar/main';
@import 'basket/main';
@import 'auth/main';
a {
  color: $dark2 !important;
  text-decoration: none !important;
}

// Modify 
@include small {
  select,
  input,
  button,
  .button {
    border-radius: 0 !important;
  }
}

input,
button,
select {
  &:hover,
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}
