@import 'color/main';
@import 'ratio.scss';
.header {
  text-align: center;
  color: $white1;
  .menu {
    #trigger,
    #burger,
    #burger:before,
    #burger:after {
      border-radius: 5px;
      position: absolute;
      top: 25px;
      right: $ratio-xs;
      background: $white1;
      width: 30px;
      height: 5px;
      transition: .2s ease;
      cursor: pointer;
      z-index: 1;
    }
    #trigger {
      height: 25px;
      background: none;
    }
    #burger {
      &:before {
        content: " ";
        top: 10px;
        left: 0;
      }
      &:after {
        content: " ";
        top: 20px;
        left: 0;
      }
    }
    #menu-toggle:checked+#trigger+#burger {
      top: 35px;
      transform: rotate(90deg);
      transition: transform .2s ease;
    }
    #menu-toggle:checked+#trigger+#burger:before {
      width: 20px;
      top: -2px;
      left: 18px;
      transform: rotate(45deg) translateX(-5px);
      transition: transform .2s ease;
    }
    #menu-toggle:checked+#trigger+#burger:after {
      width: 20px;
      top: 2px;
      left: 18px;
      transform: rotate(-45deg) translateX(-5px);
      transition: transform .2s ease;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      display: none;
    }
  }
  .brand {
    height: $ratio-sm;
    img {
      padding: $ratio-xs / 4;
      height: 100%;
    }
  }
}

// @keyframes checked-anim {
//   50% {
//     width: 3000px;
//     height: 3000px;
//   }
//   100% {
//     width: 100%;
//     height: 100%;
//     border-radius: 0;
//   }
// }
// @keyframes not-checked-anim {
//   0% {
//     width: 3000px;
//     height: 3000px;
//   }
// }
