@import 'body';
@import 'header';
@import 'media';
@import 'ratio';
@import 'icons';
@import 'button';
// location
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

//frame
.border-1 {
  border-radius: 5px;
}

.border-2 {
  border-radius: 10px;
}
