@import 'body';
@import 'header';
@import 'footer';
@import 'media';
@import 'ratio';
@import 'icons';
@import 'button';
// location
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

//frame
.border-1 {
  border-radius: 5px;
}

.border-2 {
  border-radius: 10px;
}

.fade {
  transition: transform 0.3s ease-in, opacity 0.4s ease !important;
  transform: translateY(30px) !important;
  opacity: 0;
  &.fade-in {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
}

.fade2 {
  transition: opacity 0.4s ease !important;
  opacity: 0;
  &.fade-in {
    opacity: 1 !important;
  }
}

.text-fade1 {
  transition: transform 0.5s cubic-bezier(.53, .49, .18, .97), opacity 0.3s cubic-bezier(.53, .49, .18, .97);
  transform: translateY(30px);
  opacity: 0;
  &.active {
    transform: translateY(-0px) !important;
    opacity: 1 !important;
  }
}
