@import 'body';
@import 'header';
@import 'media';
@import 'ratio';
@import 'icons';
@import 'button';
// location
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

//frame
.border-1 {
  border-radius: 5px;
}

.border-2 {
  border-radius: 10px;
}

.fade {
  transition: transform 0.4s ease-in, opacity 0.6s ease !important;
  transform: translateY(15vh) !important;
  opacity: 0;
  &.fade-in {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
}
