.section5 {
  .fade-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  .section-break {
    height: 25vh;
    background-image: url('~@image/test/03.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }
  .about-container {
    padding-top: 30px;
    .about-title {
      font-size: 30px;
      text-align: center;
      font-weight: 400;
      color: $dark2;
      @include tablet {
        font-size: 25px;
      }
      @include mobile {
        font-size: 20px;
      }
      @include small {
        font-size: 17px;
      }
    }
    .about-content {
      padding-top: 60px;
      padding-bottom: 30px;
      li {
        border-radius: 5px;
        padding: 10vh 0;
        @include mobile {
          padding: 5vh 0;
        }
        @include small {
          border-radius: 0;
        }
        z-index: 1;
        position: relative;
        .img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: 0 1px 5px 0 $gray1;
          background-size: cover;
          background-repeat: no-repeat;
          @include small {
            height: 200px;
            border-radius: 0;
            box-shadow: none;
          }
        }
        #img1 {
          background-image: url('/static/images/test/01.png');
        }
        #img2 {
          background-image: url('/static/images/test/02.png');
        }
        p {
          color: $orange1;
          font-size: 30px;
          font-weight: 400;
          padding-bottom: 15px;
          @include small {
            padding-top: 30px;
            padding-bottom: 5px;
          }
        }
        span {
          color: $dark3;
        }
      }
    }
  }
  .hr-half {
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 2px;
    background-color: $orange2;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    #dot {
      width: 10px;
      height: 10px;
      background-color: $dark3;
      border-radius: 50%;
      margin-top: -4px;
    }
    #line-top {
      z-index: -1;
      position: absolute;
      height: 100px;
      width: 2px;
      bottom: 0;
      background-color: $dark3;
      @include mobile {
        display: none;
      }
    }
    #line-bottom {
      z-index: -1;
      position: absolute;
      top: 0;
      height: 100px;
      width: 2px;
      background-color: $dark3;
      @include mobile {
        display: none;
      }
    }
  }
}
