.upload-wrapper {
  width: 60vw;

  @include desktop {
    max-width: 600px !important;
  }

  @include extra {
    max-width: 800px !important;
  }

}

.form-input {
  input[type='text'] {
    margin: 15px 0 10px 0;
    border-radius: 10px;
    width: 100%;
  }
}

.form-upload,
  {
  position: relative;
  width: 100%;
  min-height: 20vh;
  border: 1px solid $gray2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  input[type='file'] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;

  }


  .form-upload-preview {
    display: block;
    min-width: 15vw;
    min-height: 15vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .button {
    margin-top: 15px;
  }
}
