.admin-dashboard {
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100% !important;
  }

  .section4 {
    box-shadow: none !important;
    padding-top: 0px;
    margin-bottom: 10vh;

    .product-footer {
      display: none;
    }

    .container {}
  }
}
