.card-container {

  padding: 20px;



  &:first-child {
    padding-right: 12px;
  }

  &:last-child {
    padding-left: 12px;
  }


  @include mobile {
    padding: 0 !important;
  }

  .card-box {
    background: $white1;
    padding: 15px;
    border-radius: 10px;
    min-height: 100%;


    @include small {
      border-radius: 0px;
    }
  }
}

.card-title {
  font-size: 17px;
  font-weight: 400;
  color: $white1;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background: $dark1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
