.basket {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1666.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  .basket-container {
    .basket-list {
      .head {
        font-weight: 200;
        color: $dark3;
        .hr {
          height: 1px;
          width: 100%;
          background-color: $gray3;
          margin-top: 5px;
          margin-bottom: 40px;
        }
      }
      .content {
        transition: all 0.3s;
        .warpper {
          width: 100%;
          min-height: 20vh;
          padding-bottom: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid $gray3;
          border-style: none none solid none;
          >div:first-child {
            color: $orange1;
          }
          >div:last-child {
            color: $dark1;
            font-size: 23px;
            font-weight: 400;
            transition: opacity 0.2s ease-out;
            &:hover,
            &:active {
              opacity: .7;
            }
          }
        }
        .basket-item {
          position: relative;
          .remove {
            z-index: 10;
            cursor: pointer;
            color: $red1;
            position: absolute;
            top: -35px;
            right: 0px;
            font-size: 20px;
            @include mobile {
              top: 0;
            }
          }
          hr {
            margin: 40px 0;
            @include mobile {
              margin: 10px 0;
            }
          }
          .image {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
              @include small {
                border-radius: 0px !important;
                width: 100%;
                max-width: 130px;
              }
              @include mobile {
                border-radius: 10px;
                width: 100%;
                margin-top: -2px;
              }
            }
          }
        }
        .detail {
          .title {
            font-size: 23px;
            font-weight: 400;
            padding-bottom: 5px;
            color: $dark1;
            @include small {
              font-size: 20px;
              font-weight: 300;
            }
            @include mobile {
              font-size: 20 px;
              font-weight: 300;
            }
          }
          .desc {
            font-size: 15px;
            font-weight: 100;
            color: $dark3;
            line-height: 20px;
            -webkit-line-clamp: 4;
            max-height: 60;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include small {
              display: none;
            }
            @include mobile {
              display: none;
            }
            @include desktop {
              -webkit-line-clamp: 6;
              max-height: 120;
            }
          }
          .amount {
            .amount-wrapper {
              margin: 2vh 0;
              display: flex;
              direction: column;
              font-size: 15px;
              width: 100%;
              >div {
                width: 50%;
                border: 1px solid $gray2;
                border-left-style: none;
                border-right-style: none;
                display: flex;
                direction: column;
                justify-content: space-around;
                align-items: center;
                &:last-child {
                  border-left-style: solid;
                  justify-content: center;
                }
                >div {
                  &:not(:nth-child(2)) {
                    cursor: pointer;
                    color: $orange1;
                    font-size: 25px;
                    font-weight: 400;
                    transition: color 0.3s ease;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -ms-user-select: none;
                    &:hover {
                      color: $orange2;
                    }
                  }
                }
              }
            }
          }
          .price-sm {
            font-size: 21px;
            font-weight: 400;
            padding-bottom: 5px;
            color: $green1;
            @include small {
              font-size: 17px;
            }
            @include mobile {
              font-size: 17px;
            }
            @include desktop {
              display: none !important;
            }
            @include extra {
              display: none !important;
            }
          }
        }
        .price-lg {
          font-size: 21px;
          font-weight: 400;
          padding-bottom: 5px;
          color: $green1;
          text-align: right;
          @include small {
            display: none !important;
          }
          @include mobile {
            display: none !important;
          }
          @include tablet {
            display: none !important;
          }
        }
      }
    }
    .basket-summary {
      position: relative;
      .summary-block {
        background-color: $white1;
        box-shadow: 0 2px 3px 1px $gray3;
        >hr {
          margin: 5px 0;
        }
        border: 1px solid $gray1;
        border-radius: 10px;
        @include small {
          border-radius: 0px !important;
          box-shadow: none !important;
          border-color: $gray3;
        }
        padding: 15px;
        >div:not(:first-child) {
          padding: 10px 0;
        }
        .title {
          margin-top: 10px;
          font-size: 20px;
          color: $dark3;
          hr {
            margin-top: 5px;
            margin-bottom: 20px;
          }
        }
        .price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          >div:last-child {
            color: $green1;
            font-weight: 400;
          }
        }
        .transport,
        .code,
        .summary {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          >div:last-child {
            font-weight: 400;
          }
        }
        .transport {
          select,
          option {
            padding: 5px 20px 5px 10px;
            font-size: 13px;
            height: auto;
            font-weight: 200;
          }
        }
        .summary {
          margin-top: 30px;
          >div:last-child {
            color: $green1;
          }
        }
        .code-input {
          width: 100%;
          input {
            width: 100%;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid $gray3;
            font-size: 15px;
            color: $dark1;
            font-weight: 400;
            transition: color 0.3s ease, border 0.3s ease;
            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
        .transport-input {}
        .detail {
          font-size: 13px;
          font-weight: 200;
        }
        .button {
          margin-bottom: 10px;
          border-color: $gray1;
          color: $gray1;
          transition: all 0.3s ease !important;
          &:hover {
            background: $orange1;
            border-color: $orange1;
            color: $white2;
          }
        }
      }
    }
  }
}
