@font-face {
  font-family: 'Bourbon';
  font-display: auto;
  src: local('sans-serif'), url('~@font/BourbonGrotesque.otf');
}

.font-bourbon {
  font-family: Bourbon !important;
}

.font-mitr {
  font-family: Mitr !important;
}

@font-face {
  font-family: 'Mitr';
  font-display: auto;
  src: local('sans-serif'), url('~@font/Mitr-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Mitr';
  font-display: auto;
  src: local('sans-serif'), url('~@font/Mitr-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Mitr';
  font-display: auto;
  src: local('sans-serif'), url('~@font/Mitr-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mitr';
  font-display: auto;
  src: local('sans-serif'), url('~@font/Mitr-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mitr';
  font-display: auto;
  src: local('sans-serif'), url('~@font/Mitr-Bold.ttf');
  font-weight: 600;
}
