.floatbar-basket {
  position: absolute;
  bottom: 5px;
  right: 10px;
  &.animate {
    animation: basket 2s ease-out 1;
  }
  .floatbar-basket-wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    .floatbar-basket-icon {
      cursor: pointer;
      width: 50px;
      height: 50px;
      padding: 10px;
      border-radius: 50%;
      background-color: $white1;
      box-shadow: 0 0 1px 1px $dark3;
      position: relative;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 3px 1px $dark2;
      }
      svg {
        width: 100%;
        height: 100%;
        path {
          fill: $orange1;
        }
      }
      .amount {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-content: center; // padding: 5px;
        border-radius: 50%;
        background: $red3;
        width: 20px;
        height: 20px;
        >div {
          font-size: 15px;
          font-weight: 400;
          color: $white1;
        }
      }
    }
  }
}

@keyframes basket {
  0% {
    transform: scale(1)
  }
  5.55556% {
    transform: scale(.9) rotate(-8deg)
  }
  11.11111% {
    transform: scale(.9) rotate(-8deg)
  }
  16.66667% {
    transform: scale(1.3) rotate(8deg)
  }
  22.22222% {
    transform: scale(1.3) rotate(-8deg)
  }
  27.77778% {
    transform: scale(1.3) rotate(8deg)
  }
  33.33333% {
    transform: scale(1.3) rotate(-8deg)
  }
  38.88889% {
    transform: scale(1.3) rotate(8deg)
  }
  44.44444% {
    transform: scale(1) rotate(0)
  }
  100% {
    transform: scale(1) rotate(0)
  }
}
