.profile-me-container {
  padding: 10px 30px;

  // margin-bottom: 10vh !important;
  @include mobile {
    padding: 10px 10px;
  }

  .profile-me-header {
    .title {
      font-size: 25px;
      font-weight: 400;
      color: $dark1;

      @include small {
        font-size: 20px;
        text-align: center;
      }
    }

    >span {
      display: block;
      font-weight: 200;

      @include small {
        font-size: 13px;
        text-align: center;
      }
    }
  }

  .profile-me-body {
    .group {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0;

      .title {
        width: 100px;
        color: $gray1;
      }

      .input {
        width: 100%;

        textarea {
          width: 100%;
          min-height: 200px;
        }
      }
    }

    button {
      margin: 30px 0;
      padding-left: 30px;
      padding-right: 30px;
      border-color: $orange1;
      color: $orange1;

      &:hover {
        background: $orange1;
        color: $white1;
      }
    }
  }
}
