.container-header {
  z-index: 2;
  position: relative;
  background-color: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px 0 $gray1;


  .stat {
    &:not(:last-child) {
      border-right: 1px solid $gray2;
    }

    padding: 15px 0;

    &:first-child {
      border-left: 1px solid $dark2;
    }

    &>div {
      display: flex;
      justify-content: center;
    }

    .stat-title {
      font-size: 13px;
      font-weight: lighter;
    }

    .stat-content {
      font-size: 20px;
      font-weight: 400;
      color: $dark1;
    }
  }

  .header-profile {
    border-right: 1px solid $dark2;
    min-width: 72px;

    &>div {
      padding: 15px 0;
    }



    .profile-image {
      display: flex;
      align-items: center;
      padding-left: 0;
      padding-right: 10px;
      width: 100%;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid $orange2;
        object-fit: cover;

        @include small {
          width: 40px;
          height: 40px;
        }

      }
    }

    .profile-desc {
      display: block;
      align-items: center;
      padding-left: 10px;

      span:first-child {
        font-size: 11px;
        display: inline-block;
        transform: translateY(4px) !important;
      }

      span:last-child {
        font-size: 13px;
        font-weight: 400;
        display: inline-block;
        transform: translateY(-4px) !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
